body {
    background-color: #121212;
    font-family: Bahnschrift;
    color: white;
    margin: 0;
    transition-duration: 5s;
}

.mainWindow {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0;
}

.mainWindow>h1 {
    background-color: #6B16A2;
    font-size: 10vw;
    padding: 10%;
    margin: 0;
}

.page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0;
    transition-duration: 5s;
    width: 80%;
    padding-left: 10%;
    margin-bottom: 20%;
}

.page>h1 {
    font-size: 10vw;
    color: red;
}

.page>h2 {
    font-size: 6vw;
}

.page0>h3 {
    margin: 50% 0 10% 0;
    font-size: 6vw;
}

.nameBoxArea {
    width: 60%;
    margin-left: 20%;
    padding: 0;
    text-align: center;
}

.nameBox {
    text-align: center;
    font-size: 6vw;
    border: #6B16A2 1px solid;
    border-radius: 4%;
    background-color: transparent;
    color: #6B16A2;
    width: 100%;
}

.submitButton {
    width: 60%;
    margin-left: 20%;
    border: none;
    padding: 2% 0 2% 0;
    margin-top: 2%;
    font-size: 4vw;
    font-family: Bahnschrift;
    background-color: #e32128;
}

.submitButton:hover {
    background-color: rgb(221, 57, 63);
}

#status {
    font-size: 6vw;
}

.heading {
    color: #6B16A2;
}

.comment {
    color: blue;
}

.comment2 {
    color: green;
}

.page1 {
    display: none;
}

.page1>h1 {
    font-size: 10vw;
    margin: 2%;
}

.page1>h2 {
    margin-top: 10%;
}

.page1>img {
    width: 80%;
}

.page2>h1 {
    color: red;
    font-size: 10vw;
}

.nextPageButton {
    display: none;
    background-color: #6B16A2;
    position: fixed;
    bottom: 0.5em;
    right: 0.5em;
    padding: 10px;
    border-radius: 20px;
}

.nextPageButton:hover {
    cursor: pointer;
}

.nextPageButton>button:hover {
    cursor: pointer;
}

.nextPageButton>button {
    background-color: transparent;
    border: 0;
    font-size: 10vw;
}

.prevPageButton {
    display: none;
    background-color: #6B16A2;
    position: fixed;
    bottom: 0.5em;
    left: 0.5em;
    padding: 10px;
    border-radius: 20px;
}

.prevPageButton:hover {
    cursor: pointer;
}

.prevPageButton>button:hover {
    cursor: pointer;
}

.prevPageButton>button {
    background-color: transparent;
    border: 0;
    font-size: 10vw;
}

.carousel {
    width: 100%;
}

.summaryBox {
    font-size: 6vw;
    background-image: linear-gradient(140deg, #6B16A2 0%, #dc0728 75%);
    width: 100%;
    border-radius: 2%;
}

.summaryBox>span {
    margin-top: 5%;
}

.summaryBox>table {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.summaryBox>table>tbody>tr {
    margin: 2%;
}

.summaryBox>table>tbody>tr>th {
    width: 50%;
}

.summaryBox>table>tbody>tr>td {
    width: 50%;
}

.finalGif {
    width: 100%;
    margin-top: 5%;
}

.page12 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page12>a>img {
    width: 100%;
}

.page12>button {
    margin-top: 1%;
    text-align: center;
    font-family: Bahnschrift;
    font-size: 6vw;
    background-color: #dc0728;
    border: none;
}

@media only screen and (min-width: 768px) {
    .mainWindow {
        width: 100%;
        margin-left: 0%;
        margin-top: 6%;
    }

    img {
        width: 30%;
    }

    .mainWindow>h1 {
        font-size: 5vw;
        padding: 0%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    .page0>h3 {
        margin: 0;
        font-size: 3vw;
    }

    .nameBox {
        text-align: center;
        font-size: 3vw;
    }

    .page0>img {
        display: none;
    }

    .page {
        margin-bottom: 0%;
    }

    .page>p {
        margin: 0;
    }

    .page>h1 {
        font-size: 3vw;
        color: red;
    }

    .page>h2 {
        margin: 1%;
        font-size: 2vw;
    }

    .page1>img {
        width: 30%;
    }

    .page1>h1 {
        font-size: 3vw;
        margin: 2%;
    }

    .carousel {
        width: 30%;
    }

    .summaryBox {
        font-size: 2vw;
        width: 50%;
        margin-left: 25%;
    }

    .finalGif {
        width: 30%;
    }

    .page12>a>img {
        width: 30%;
    }

    .page12>button {
        font-size: 2vw;
    }

    .prevPageButton {
        bottom: 2.5em;
        left: 2.5em;
    }

    .nextPageButton {
        bottom: 2.5em;
        right: 2.5em;
    }
}
